@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*footer*/
.attribution {
     font-size: 11px;
     text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
 :root{
/*Colors*/
--Paleblue: hsl(225, 100%, 94%);
--Brightblue: hsl(245, 75%, 52%);
--VeryPaleblue: hsl(225, 100%, 98%);
--Desaturatedblue: hsl(224, 23%, 55%);
--Darkblue: hsl(223, 47%, 23%);
 }
 body{
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    background: var(--Paleblue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .main-container{
    margin-top: 50px;
    width: 328px;
    height:570px;
    margin: 60px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
 }
 .imagen{
    background-image:url(./images/illustration-hero.svg);
    background-size: cover;
    height: 162px;
   
 }
 
 h1{
    font-size: 1.4em;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 900;
    text-align: center;
    color:var(--Darkblue)
 }
 .main-paragraph{
    text-align: center;
    color: var(--Desaturatedblue);
    margin-bottom: 32px;
    padding: 0 30px;
 
 }

 .plan-container{
   width: 280px ;
   height: 82px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto 32px;
   border-radius: 8px;
   background-color: var(--VeryPaleblue);


}
.payment p:nth-child(1){
   color: var(--Darkblue);
   font-weight: 900;
   font-size: 0.9em;
}
.payment p:nth-child(2){
   color: var(--Desaturatedblue);
   
}
.change{
   color: var(--Brightblue);
   font-size: 0.8em;
   font-weight: 700;
   margin-left: 30px;
}
.change:hover{
   cursor: pointer;
   text-decoration: none;
   color: var(--Desaturatedblue);

}
.icon-container{
   background-image: url(./images/icon-music.svg);
   width: 50px;
   height: 50px;
   background-repeat: no-repeat;
}

button{
   background-color: var(--Brightblue);
   width: 280px;
   border-radius: 8px;
   border: none;
   overflow: hidden;
   height: 53px;
   margin: 0 auto 30px;
   color: var(--VeryPaleblue);
   margin: 0 auto;
   display: block;
   margin: 0 auto;
   font-weight: 900;
   margin-bottom: 18px;
   font-size: 0.9em;
   box-shadow:  1px 10px 8px 3px var(--Paleblue);
}
button:hover{
   cursor: pointer;
   background-color: var(--Desaturatedblue);
}

.cancel-container{
 margin-top: 20px;
 text-align: center;
}
.cancel{
   color:var(--Desaturatedblue);
   text-decoration: none;
   font-size: 0.9em;
   font-weight: 900;
}
.cancel:hover{
   color: var(--Darkblue);
}

/* Media Queries */

@media  (min-width: 944px) {

   body{
      background-image: url(./images/pattern-background-desktop.svg);
      background-size: contain;
   }
   .main-container{
      width: 408px;
      height: 632px;
      margin-bottom:50px;
   }
   h1{
      margin: 48px 0 24px;
   }
   .main-paragraph{
      margin-bottom: 20px;
   }
   .plan-container{
      width: 316px;
      height: 91px;
      padding: 0 10px;
      margin-bottom: 28px;
   }
   .change{
      margin-left: 60px;
   }
}
